* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.div1,
.div2 {
  border: 1px solid #333;
  padding: 3rem;
}
.div1 {
  background-color: #cacaca;
}
.div2 {
  background-color: #ebebeb;
}