* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  display: grid;
  place-items: center;
}

.card {
  width: 500px;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  border-bottom: 1px solid #333;
  margin-bottom: 1rem;
  cursor: pointer;
}

.hidden .answer {
  height: 0px;
}
.hidden .fa-chevron-down {
  /* rotate: -720deg; */
  rotate: 90deg;
  /* transform: rotate(90deg); */
}
.answer {
  height: 100px;
  overflow: hidden;
}

.answer,
.fa-chevron-down {
  transition: all .5s ease;
}