* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  background-color: rgb(228, 228, 228);
  display: grid;
  place-items: center;
}

.card {
  box-shadow: 2px 2px 8px #00000039;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
}

.main-header {
  background-color: #333;
  padding: 1rem;
  text-align: center;
  color: #fff;
}

.title {
  font-size: 2.5rem;
}
.subtitle {
  font-size: 1.3rem;
}

.list {
  padding: 2rem;
  list-style: none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  margin-bottom: .1rem;
  border-left: 4px solid #333;
  padding-left: 1rem;
  padding-block: .5rem
}

.list-item:hover {
  border-left-color: rgb(31, 171, 64);
}

/* .list-item:nth-child(2) span {
  background-color: blue;
} */

.add-form {
  padding: 1rem;
}

.add-form input,
.add-form button {
  width: 100%;
  padding: .4em;
  margin-bottom: .5rem;
}


.active {
  border-left-color: rgb(236, 24, 24);
  background-color: #cecece;
}
.active span {
  font-size: 1.1rem;
  font-weight: bold;
}
.active button {
  font-weight: bold;
}