* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px 1px #00000042;
  overflow: hidden;
  width: 400px;
}

.card form {
  background-color: #333;
  padding: 1rem;
  display: flex;
}

.card form input {
  flex: 1;
  padding: .4em;
  border: 0;
  outline: none;
  border-radius: 1rem 0 0 1rem;
}
.card form button {
  background-color: #fff;
  color: #000;
  padding: .1em 1.3em;
  border: 0;
  cursor: pointer;
  border-radius: 0 1rem 1rem 0;
  transition: all 200ms ease-out;
}

.card form button:hover {
  background-color: rgb(222, 222, 222);
}

#output {
  height: 50vh;
  overflow: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: .2rem 1rem;
  border-bottom: 1px solid rgb(171, 171, 171);
}